<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

  <listener>
	<display-name>servlet listener</display-name>
	<listener-class>com.dataspy.server.DataSpyServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>dataSpyService</servlet-name>
    <servlet-class>com.dataspy.server.DataSpyServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dataSpyService</servlet-name>
    <url-pattern>/dataSpyService</url-pattern>
  </servlet-mapping>


</web-app>
